<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">    
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>  
     <script src="js/cufon-yui.js" type="text/javascript"></script>
     <script src="js/M_1c_400.font.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>  
    <script src="js/script.js" type="text/javascript"></script>   
	<!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
             <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
        </div>
 	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <script src="js/jquery.hoverIntent.js" type="text/javascript"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body id="page1">
	<!--==============================header=================================-->
    <header>
    <div class="head-line"></div>
    	<div class="main">
        	<div class="head-box1">
            	<h1><a href="index.html">logo</a><span>A good way to start your day <br />is to read your horoscope</span></h1>
            </div>
           <div class="head-box2">
            <nav>
                <ul class="menu">
                    <li class="first"><a class="active" href="index.html">Главная</a></li>
                    <li><%=link_to "В Мире", controller: "worldnews" %></li>
                    <li><%=link_to "НЛО", controller: "ufo" %></li>
                    <li><%=link_to "Экстрасенсы", controller: "extrasenses" %></li>
                    <li><%=link_to "Гороскопы", controller: "horoscopes" %></li>
                    <li class="last"><%=link_to "Конец света", controller: "doomsday" %></li>
                </ul>
                <div class="clear"></div>                
            </nav>
            <div class="shadow"></div>
            </div>
        </div>
        <div class="main2">
        	<div class="tabs">
            <span class="marker2"></span>
                <div class="shadow-box">
                <div class="shadow2"></div>
                <ul class="tabs-nav">
                    <li class="first"><a class="t1" href="#"><span></span>Aries</a></li>
                    <li><a class="t2" href="#"><span></span>Taurus</a></li>
                    <li><a class="t3" href="#"><span></span>Gemini</a></li>
                    <li><a class="t4" href="#"><span></span>Cancer</a></li>
                    <li><a class="t5" href="#"><span></span>Leo</a></li>
                    <li><a class="t6" href="#"><span></span>Virgo</a></li>
                    <li><a class="t7" href="#"><span></span>Libra</a></li>
                    <li><a class="t8" href="#"><span></span>Scorpio</a></li>
                    <li><a class="t9" href="#"><span></span>Sagittarius</a></li>
                    <li><a class="t10" href="#"><span></span>Capricorn</a></li>
                    <li><a class="t11" href="#"><span></span>Aquarius</a></li>
                    <li><a class="t12" href="#"><span></span>Pisces</a></li>
                </ul>
                <div class="shadow1"></div>
                <div class="clear"></div>
                </div>
                 <div class="tab-content-box">
                 <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Aries</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Taurus</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Gemini</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Cancer</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Leo</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Virgo</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Libra</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Scorpio</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Sagittarius</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Capricorn</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Aquarius</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>
                     <div class="tab-content">
                      	<div class="page1-box1">
                        	<figure class="page1-img1"><img src="tab-img1.jpg" alt=""></figure>
                            <div class="extra-wrap">
                            	<div class="inner1">
                                	<span>Pisces</span>
                                    <strong>Wednesday, Jan 9, 2011</strong>
                                </div>
                                <div class="inner2">
                                	<p class="p6">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tempus aliquam ipsum. Sed eget elit vel magna commodo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                    <ul class="list1">
                                        <li class="first"><a href="#">Today</a></li>
                                        <li><a href="#">Tomorrow</a></li>
                                        <li><a href="#">This week</a></li>
                                        <li><a href="#">This month </a></li>
                                        <li><a href="#">2011</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                     </div>                     
                 </div>
               </div>
               <div class="clear"></div>
        </div>
    </header>
    
	<!--==============================content================================-->
    <section id="content">    	
        <div class="main">            
           <div class="wrapper p13">
               <div class="fleft">
               <div class="page1-box2">
                 <h3>Card of the day:</h3>
                 <figure class="page1-img2"><img src="page1-img2.jpg" alt=""></figure>
                 <div class="inner3">
                 <span>The World</span>
                <p> <strong>Keywords:</strong> goal, realization, expansion, world travel, <br />fulfillment...  <a class="link3" href="#">More</a></p>
</div>
               </div>
               <div class="clear"></div>
               <div class="banner1">
                	Your daily <br /><span>horoscope</span>
                    <a class="link1" href="#">click here</a>
                    <div class="clear"></div>
                </div>
                 <div class="clear"></div>
                <div class="banner2">
                	<div class="inner4">Ask a FREE <br /><span>question</span></div>
                    <div class="extra-wrap p9">
                    	24/7
                    </div>
                    <div class="clear"></div>
                    <strong>online support</strong>
                    <a class="link1" href="#">click here</a>
                    <div class="clear"></div>
                </div>
                 <div class="clear"></div>
                </div>
               <div class="fleft">
               <div class="wrapper p10">
                   <div class="page1-box3">
                    <h3 class="p8">Most popular:</h3>
                    <figure class="page1-img3"><img src="page1-img3.jpg" alt=""></figure>
                    <ul class="list2">
                        <li><a href="#">2011 Horoscopes</a></li>
                        <li><a href="#">Fun and Games</a></li>
                        <li><a href="#">Tests and Quizzes</a></li>
                        <li><a href="#">Find Your Perfect Match!</a></li>
                        <li><a href="#">Free Horoscope Newsletter</a></li>
                        <li><a href="#">Luna's Review of the Week</a></li>
                    </ul>
                   </div>
                   <div class="page1-box3">
                    <h3 class="p8">Horoscopes:</h3>
                    <figure class="page1-img3"><img src="page1-img4.jpg" alt=""></figure>
                    <ul class="list2">
                        <li><a href="#">Love Horoscope</a></li>
                        <li><a href="#">Chinese Horoscope</a></li>
                        <li><a href="#">Money Horoscope</a></li>
                        <li><a href="#">Teen Horoscope</a></li>
                        <li><a href="#">Career Horoscope</a></li>
                        <li><a href="#">Food Horoscope</a></li>
                    </ul>
                   </div>
                   <div class="page1-box3">
                    <h3 class="p8">Tarot readings:</h3>
                    <figure class="page1-img3"><img src="page1-img5.jpg" alt=""></figure>
                    <ul class="list2">
                        <li><a href="#">Past Lives Tarot</a></li>
                        <li><a href="#">Lover's Triangle Tarot</a></li>
                        <li><a href="#">Daily Flirt Tarot</a></li>
                        <li><a href="#">Instant Answer Tarot</a></li>
                        <li><a href="#">Love Tarot</a></li>
                        <li><a href="#">Make A Wish Tarot</a></li>
                    </ul>
                	</div>
               </div>
               <div class="page1-box5">
               		<h3 class="p11">Chinese portrait</h3>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i1.jpg" alt=""></figure>
                        <a href="#">Rat</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i2.jpg" alt=""></figure>
                        <a href="#">Ox</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i3.jpg" alt=""></figure>
                        <a href="#">Tiger</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i4.jpg" alt=""></figure>
                        <a href="#">Rabbit</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i5.jpg" alt=""></figure>
                        <a href="#">Dragon</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i6.jpg" alt=""></figure>
                        <a href="#">Snake</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i7.jpg" alt=""></figure>
                        <a href="#">Horse</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i8.jpg" alt=""></figure>
                        <a href="#">Goat</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i9.jpg" alt=""></figure>
                        <a href="#">Monkey</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i10.jpg" alt=""></figure>
                        <a href="#">Rooster</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i11.jpg" alt=""></figure>
                        <a href="#">Dog</a>
                    </div>
                    <div class="page1-box4">
                    	<figure class="img1"><img src="i12.jpg" alt=""></figure>
                        <a href="#">Pig</a>
                    </div>
                    <div class="clear"></div>
               </div>
               <div class="page1-box6">
               	<p class="p12">Mauris vel tortor vitae nibh condimentum auctor integer ac lacus. Cum sociis natoque penatibus et magnis parturient montes ascetur ridiculus mus. In purus ante ornare id rutrum sit amet condimentum rhoncus ligula. Nunc dignissim tristique ipsum. Maecenas sagittis velit at dui. Ut orci mi semper posuere egestas sed congue tristique nibh. </p>
               </div>
               <div class="banner3">
               	<strong>a Tarot Reading</strong>
                <span>can give you </span>
                <i>the ANSWER</i>
                <a class="link1" href="#">click here</a>
                <div class="clear"></div>
               </div>
               <div class="banner4">
               	<span>Psychic tip <br />
                of the day</span>
                <a class="link1" href="#">click here</a>
                <div class="clear"></div>
               </div>
               <div class="banner5">
               	<span>Your <i>2011</i> guide</span><strong>to the FUTURE</strong>
                <a class="link1" href="#">click here</a>
                <div class="clear"></div>
               </div>
               </div>
               <div class="clear"></div>
            </div>
        </div>
    </section>
    
	<!--==============================footer=================================-->
    <footer>
        <div class="main">
        <div class="container_24">
        	<div class="wrapper">
            	<article class="grid_5 push_1 alpha">
                	<div class="foot-page1">
                    	Astrology and Horoscope  &copy; 2012 
                        <div class="clear"></div>
                        <a href="index-2.html">Privacy Policy </a>
                        <div class="clear"></div>
                        <!-- {%FOOTER_LINK} -->
                    </div>
                </article>
                <article class="grid_4 push_2">
                	<ul class="list3">
                        <li><a href="#">Astro Profile</a></li>
                        <li><a href="#">Daily Horoscope</a></li>
                        <li><a href="#">Sade Sati Report </a></li>
                        <li><a href="#">Sun Sign Match</a></li>
                    </ul>
                </article>
                <article class="grid_4 push_2">
                	<ul class="list3">
                        <li><a href="#">Shani Dosha</a></li>
                        <li><a href="#">Birth Star Report</a></li>
                        <li><a href="#">Ghat Chakra </a></li>
                        <li><a href="#">Lucky Directions</a></li>
                    </ul>
                </article>
                <article class="grid_4 push_2">
                	<ul class="list3">
                        <li><a href="#">Birth Horoscope</a></li>
                        <li><a href="#">Love Horoscope </a></li>
                        <li><a href="#">Kundli Match</a></li>
                        <li><a href="#">Mangal Dosha</a></li>
                    </ul>
                </article>
                <article class="grid_4 push_2">
                	<ul class="list3">
                        <li><a href="#">Moon Sign Report</a></li>
                        <li><a href="#">2011 Free Report</a></li>
                        <li><a href="#">Sun Sign Profile </a></li>
                        <li><a href="#">Friendship Report</a></li>
                    </ul>
                </article>
            </div>
        </div>        
        </div>
    </footer>
    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
